.navbar.navbar-inverse.navbar-fixed-bottom
  .navbar-inner
    .container
      %ul.nav
        %li
          %a{ href: "mailto:infinitehorses@gmail.com" } Copyright &copy; Infinite Horses
      %ul.nav.pull-right
        %li
          %a{ href: about_path } About us
        %li
          %a{ href: contact_path } Contact info