.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand{ href: root_path } adventureList
      %ul.nav.pull-right
        %li
          %a{href: "#"} Signed in as
        %li
          %a{href: "#"} Sign in
        %li
          %a{href: "#"} Logout